
/*################################## Nav bar ###############################*/

nav {
  width: 100%;
  height: 50px;
  padding: 5px;
  margin: 0 auto;
  padding-top: 15px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  /*background: -webkit-linear-gradient(-8deg, #259cb7, #5ca1e7);*/
}
nav ul #logo {
  width: 15%;
  float: left;
  position: relative;
  left: 5%;
}
nav ul #logo h1 {
  width: 57px;
  border-radius: 4px;
  border: 3px solid #fff;
  color: #fff;
  padding: 5px;
  margin: 0;
  margin-top: -20px;
  cursor: pointer;
  text-shadow: 0 0 2px black;
 /* transition: color 0.4s;*/
  zoom: 0;
}
#logo h1:hover{
  color: orange;

}
nav ul li {
  list-style-type: none;
  cursor: pointer;
}
.active{
  color: red;
  border-bottom: 4px solid;
} 
nav ul li a {
  text-decoration: none;
  cursor: pointer;
  font-family: 'Finger Paint', cursive;
  font-size: 20px;
  transition: color 0.4s, zoom 0.4s;
}

nav #menu-bar {
  font-size: 38px;
  color: #fff;
  display: none;
  position: absolute;
  top: 14px;
  right: 5%;
  width: 40px;
  padding: 1px;
  cursor: pointer;
  text-shadow: 0 0 2px black;
}
nav #close-btn {
  display: none;
}
nav .nav-list {
  float: right;
  position: relative;
  right: 10%;
  width: 60%;
  margin: 0;
  padding-left: 4px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}
nav .nav-list li {
  display: inline-block;
  margin: 0 5px;
  width: 15%;
  text-align: center;
  min-width: 89px;
  padding: 3px;
}
nav li a {
  color: #fff;
  font-weight: 700;
  transition: all 0.4s;
}
.nav-list li a:hover{
  color: orange;
  zoom: 2;
}


/*################################## Home page ##############################*/

@font-face {
    font-family: aidan;
    src: url('../fonts/aidan.ttf');
}
@font-face {
    font-family: hello;
    src: url('../fonts/hello.ttf');
}
@font-face {
    font-family: nelda;
    src: url('../fonts/nelda.ttf');
}
@font-face {
    font-family: surfing;
    src:url('https://s3.amazonaws.com/my-web-storage/fonts/surfing.ttf');
}

body{
  overflow-x: hidden;
}
hr{
  color: #fff;
}
#home-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background: url('https://s3.amazonaws.com/my-web-storage/images/home2.jpg') no-repeat center center;
  background-size: cover;
  align-items: center;
}
#intro{
  color: #eee;
  font-size: 64px;
  font-weight: bolder;
  font-family: aidan;
  text-align: center;
}
#home-page>p{
  color: #009688;
  font-size: 18px;
}

#hello{
  color: #4CAF50;
  font-family: 'Roboto', sans-serif;
  font-size: 72px;
}
i.fa.fa-angle-double-down.animated.bounce.infinite{
  color: #fff;
  align-self: center;
  animation-duration: 5s;
  position: absolute;
  bottom: 0;
  font-size: 53px;
 
}
/*################################## About page #############################*/

/*  font-family: 'Rubik', sans-serif;
    font-family: 'Roboto Mono', monospace;
*/
body{
  margin: 0;
  box-sizing: border-box;
  min-width: 500px;
}
#about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 40px;
  padding:95px;
}
#about p{
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  letter-spacing: 0.4px;
}
#about b{
  font-size: 24px;
  text-transform: uppercase;
}
#about b:nth-child(1){
  color: red;
}
#about b:nth-child(2){
  color: #00BCD4;
}
#about b:nth-child(3){
  color: #FF9800;
}
#about b:nth-child(4){
  color: #32d038;
}
#about b:nth-child(5){
  color: #E91E63;
}
#about b:nth-child(5){
  color: #607D8B;
}
#about p a{
  color: #1FCECB;
  font-weight: bolder;
  text-decoration: underline;
}
.photo{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 100vw;
  background-color: #1fa67a;
}
.photo img{
  width: 250px;
  border-radius: 50%;
  align-self: center;
}
.info{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 60vw;
}
#devider{
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #130B08;
}
#text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  min-width: 415px;
}
.hobby{
  width: 100%;
  text-align: center;
}
.hobby-wrapper{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.hobby-items i.fa{
  font-size: 32px;
  color: #fff;
}
.hobby-items span{
  font-size: 10px;
  margin-top: 9px;
  padding: 1px;
  color: #fff;

}
.hobby-items{
  display: flex;
  flex-basis: 100px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  background-color: #F44336;
  border-radius: 50%;
  box-sizing: border-box;
  height: 100px;
}
@media only screen and (max-width: 800px) {
  .hobby-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .hobby-items{
    width: 33%;
    margin: 7px;
    display: flex;
    flex-direction: column;
  }
}
/*################################## Projects Page ##########################*/
#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background: radial-gradient(#51a4ee, #14375a);
  padding-top: 12vh;
  margin-top:75px;
}
#projects h1 {
  margin-top: -20px;
  text-align: center;
}
#projects .all-projects {
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  padding-left: 0;
  justify-content: space-around;
}
#projects .all-projects .project-details {
  padding: 10px;
  color: black;
  margin-left: 3px;
  display: flex;
  flex-direction: column;
}
#projects .all-projects .project-details p {
  display: block;
  font-size: 20px;
}
#projects .all-projects .project-details h3 {
  text-align: center;
}
#projects .all-projects li {
  flex: 0 29%;
  list-style-type: none;
  align-self: space-around;
  margin: 5px;
  background-color: #00BCD4;
  border: 1px solid black;
  border-radius: 4px;
  border-right: 0;
  border-left: 0;
  background-color: #f0f2f5;
  padding: 15px;
}
#projects .all-projects li a {
  text-decoration: none;
}
#projects .all-projects li .languages {
  display: flex;
  justify-content: space-around;
}
#projects .all-projects li .languages i {
  font-size: 38px;
}
#projects .all-projects li a.view-btn {
  display: inline-block;
  width: 100px;
  height: 30px;
  background-color: #0db75a;
  border: 1px solid #108e49;
  text-align: center;
  padding: 15px 0 2px 0;
  border-radius: 26px;
  color: #fff;
  align-self: center;
}
#projects .all-projects li img {
  width: 100%;
  border-radius: 4px;
  border-bottom: 2px solid black;
}



/*################################## Skills page ############################*/

#skills {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100vh;
  /*background: radial-gradient(#51a4ee, #14375a);*/
  /*background: radial-gradient(#13bc91, #4cc294);*/
  background: radial-gradient(#0d896a, #08945d);
  margin-top: 140px;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 50px;
}
#skills h1 {
  align-self: center;
  margin-top: 100px;
  color: #fff;
  text-transform: uppercase;
}
#skills i.fa {
  align-self: center;
  font-size: 50px;
  margin-top: 30px;
  color: #4CAF50;
}
#skills .skill-set {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
#skills .skill-set ul {
  padding-left: 0;
  margin-top: 0;
}
#skills .skill-set ul h2 {
  margin-top: 10px;
}
#skills .skill-set ul [class*=" devicon-"], #skills .skill-set ul [class^=devicon-] {
  font-size: 50px;
  margin: 5px;
}
#skills .skill-set li {
  width: 60%;
  align-self: center;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-top: 40px;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
}
#skills .skill-set li hr {
  width: 75%;
  color: #000;
  border: 1px solid;
}

/*################################## Contact page ###########################*/

#contact {
  min-height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 120px;
}
#contact img {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
#contact img:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
}
#contact .link {
  align-self: center;
  margin: 0 40px;
  cursor: pointer;
}
#contact .link i {
  font-size: 60px;
  background-color: #fff;
}
#contact .link .fa-linkedin-square {
  padding: 20px 26px;
  border-radius: 50%;
  color: #3E92FF;
}
#contact .link .fa-envelope-o {
  padding: 20px;
  border-radius: 50%;
  color: #E91E63;
  font-size: 54px;
}
#contact .link .fa-github {
  padding: 20px;
  border-radius: 50%;
  color: #000;
  font-size: 60px;
}



/* ################################## Footer ################################*/
footer{
  background-color: #607D8B;
  color: #fff;
  height: 40px;
  padding-top: 20px;
  text-align: center;
}


/*#################################### Media Query ############################*/

/*===================== Nav Bar ======================*/

@media only screen and (max-width: 800px) {
  nav .nav-list li {
    display: none;
    margin: 0 5px;
    width: 15%;
    text-align: center;
    min-width: 89px;
    padding: 3px;
  }
  .active{
  color: #fff;
  border-bottom: 0;
  } 
  nav i#menu-bar {
    display: inline-block;
    margin-top: 13px;
    transform: color 0.4s;
  }
  nav i#menu-bar:hover{
    color: orange;
  }
  nav #close-btn {
    position: absolute;
    right: 5vw;
    top: 5vh;
    font-size: 22px;
    color: #f8f4f5;
    cursor: pointer;
  }
  nav .overlay {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #4c9daf;
    text-align: center;
  }
  nav .overlay #close-btn{
    display: inline-block;
  }
  nav .overlay li {
    display: block;
    color: white;
    margin: 14vh auto;
    text-align: center;
  }
  nav .overlay li a {
    cursor: pointer;
    padding: 20px 60px;
    font-size: 2vh;
    padding-left: 0;
  }
}

@media (max-width: 600px) {
  .projects .all-projects li {
    flex: 0 90%;
  }
}



















